repos:
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.5.2
    hooks:
      - id: isort
        files: 'isort/.*'
      - id: isort
        files: 'tests/.*'

  - repo: https://gitlab.com/pycqa/flake8/
    rev: 3.8.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bandit==2.1.2
          - flake8-bugbear==20.1.4
          - flake8-builtins==1.5.3
          - flake8-cognitive-complexity==0.1.0
          - flake8-comprehensions==3.3.0
          - flake8-eradicate==1.0.0
          - flake8-import-order==0.18.1
          - flake8-mutable==1.2.0
          - flake8-print==3.1.4
          - flake8-pytest-style==1.3.0
          - flake8-return==1.1.2
        args:
          - "--ignore=S101,W503,E203,E501,E800,CCR001,PT012,T001,F811"
